body{
    background-color: #5FE8B9;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#canvas{
    z-index: 1;
}

.board{
    z-index: 0;
    width: 500px;
    height: 500px;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFF64D;
}